.product-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 350px;
  /* padding-bottom: 20px; */
  box-shadow: 0 10px 25px gray;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px gray;
}

h1{
  color: #ee0000;

}
.product-card img {
  width: 100%;
  height: 180px;
  object-fit:contain;
  padding: 20px 10px;
}

.product-info {
  padding: 1rem;
  background-color: #ebf6fd;
}

.product-info h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.desc {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
  text-overflow: ellipsis;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  color: green;
}

.buy-btn {
  width: 150px;
  padding: 10px;
  /* background: #2563eb; */
   background: #00ccff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
}
.buy-btn:disabled{
    background-color: gainsboro;
}
.buy-btn:disabled:hover{
  background-color: gainsboro;
}
.buy-btn:hover {
  background-color: red;
}
.top-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* .buy-btn{
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
} */
