#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.product-grid{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  margin: auto;
}
