* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: rgb(224, 158, 158);
  display: flex;
  justify-content: center;
   padding: 40px 0; 
}
.todo-container {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
}
.todo-container h1 {
  text-align: center;
  margin-bottom: 20px;
}
.todo-container h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
form {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}
form input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
}
form button {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 8px;
}
ul {
  list-style: none;
}
li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li strong {
  display: block;
}
li p {
  font-size: 12px;
  
}
li button {
  margin-left: 5px;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 8px;
}
h2 + ul li {
  background: #dce9e4;
}
.actions {
  display: flex;
  gap: 6px;
}
