
.screenDiv {
  margin: auto;
  margin-top: 3rem;            
  border: 2px solid #9ca3af;  
  padding: 1.5rem;             
  border-radius: 1.5rem;       
  width: 40%;
  height: 60vh;
  max-height: 60vh;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15); 
  backdrop-filter: blur(10px);
}


.title {
  text-align: center;
  font-size: 2rem;            
  font-weight: 800;         
  margin: 1.75rem 0;          
}


.bundle {
  margin: auto;
  display: grid;
  width: 75%;
}


.weather-form {
  display: flex;
  margin: auto;
  margin-top: 1rem;            
  gap: 0.5rem;                 
  width: 100%;
  height: 40px;
}


.weather-input {
  background-color: #e5e7eb;   
  padding: 0.5rem;
  padding-left: 1.75rem;      
  width: 85%;
  border-radius: 2rem;         
  border: 2px solid #9ca3af;
  color: black;
  outline: none;
}


.search-btn {
  width: 25%;
  background-color: #facc14;  
  color: #fff; 
  padding-top: 0.4rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.search-btn:hover{
  background-color: #ffd940;
}

.mainDiv {
  color: #f3f4f6;              
  text-align: center;
  /* margin: auto; */
  margin-top: 10px;        
  border-radius: 1.5rem;       
  padding: 1rem;            
  width: 100%;
}


.center {
  display: flex;
  justify-content: center;
}

.city-name {
  font-size: 1.2rem;         
  font-weight: 700;
}

.weather-text {
  font-size: 1.2rem;           
}


@media screen and (max-width:760px){
    .screenDiv{
        width: 60%;
    }
}
@media screen and (max-width:500px){
    .screenDiv h1{
        font-size: 2rem;
    }
    .bundle{
        width: 98%;
    }
    input{
        padding-left: 5px;
        width: 60%; 
    }
    button{
        width: 30%;
    }

}
@media (max-width:900px){
    .screenDiv{
        width: 80%;
    }
}